@import "./vars.scss";

body,
html {
    overflow-x: hidden;
    width: 100vw;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding: 0 $padding;
    margin: 4rem 0;
    scroll-margin-top: 6.25rem;
}

.page-land {
    padding-top: 3rem;
}

.nav-menu-item {
    color: $grey
}

.section-heading {
    font-size: 1.25rem;
    // text-align: center;
}

.text-small {
    font-size: 0.75rem;
}

.text {
    font-size: 1rem;
}

.text-big {
    font-size: 1.5rem;
}

.text-large {
    font-size: 1.75rem;
}

.text-super-large {
    font-size: 2.25rem;
}

@media only screen and (min-width: 768px) {
    .wrap {
        padding: 0 $padding-768;
    }

    .page-land {
        padding-top: 5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .wrap {
        padding: 0 $padding-1024;
    }

    .page-land {
        padding-top: 6rem;
    }

    .section-heading {
        font-size: 1.5rem;
        // text-align: center;
    }

    .text-small {
        font-size: 1rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .text-big {
        font-size: 2rem;
    }

    .text-large {
        font-size: 2.5rem;
    }

    .text-super-large {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1536px) {
    .wrap {
        padding: 0 $padding-1536;
        margin: 6rem 0;
    }

    .page-land {
        padding-top: 6rem;
    }

    .section-heading {
        font-size: 2.5rem;
        // text-align: center;
    }

    .text-small {
        font-size: 1.5rem;
    }

    .text {
        font-size: 2rem;
    }

    .text-big {
        font-size: 3em;
    }

    .text-large {
        font-size: 4rem;
    }

    .text-super-large {
        font-size: 5rem;
    }
}