@import "./vars.scss";
body, html{
    overflow-x: hidden;
    width: 100vw;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    .nav-menu-item{
        text-align: center;
        color: white;
        transition: 0.25s ease;
        &:hover{
            scale: 1.25;
        }
    }
}


img{
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}
.wrap{
    display: flex;
    flex-direction: column;
    padding: 0 $padding;
}
.nav-menu-item{
    color: $grey
}
.system-button{
    background-color: $systemDark;
    border-radius: 30px;
    border: none;
    color: #FFF;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    &:hover{
        cursor: pointer;
    }
}