// paddings
$padding: 2.25rem;
$padding-1024: 5rem;
$padding-1536: 7.5rem;

// colors
$grey: #707070;
$black: #000000;
$systemLight: #02CBC6;
$systemDark: #1FC2BB;
$systemDarkest: #00A69C;
$systemInputs: #DBEAE9;